html, body {
    height: 100%;
    font-size: 2em;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    border-left: 3px solid #bbb;
    float: right;
}

li:hover {
    background-color: #4CAF50;
    outline: 4px solid black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:first-child {
    border-right: 3px solid #bbb;
}

li:last-child {
    border-right: 3px solid #bbb;
}


.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:  red;
}

.header {
    min-height: 100px;
    background-color:  blue;
}

.content {
    height: 100%;
    background-color:  lightskyblue;
}

.sub-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: lightskyblue;
}

.side-bar {
    background-color: yellow;
    width: 200px;
    min-width: 200px;
}

.footer {
    font-size: 1.15em;
}


#logo {
    width: 50%;
    height: 50%;
}